* {
    background-color: #d6d1b1;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 700px;
    height: 700px;
}

h1 {
    /* position: relative; */
    text-align: center;
}

#start {
    position: relative;
    background-color: #fe5f55;
    margin-left: 35%;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
}

#questionsSection {
    margin: 20px;
}

#currentTime {
    float: right;
}

#back {
    background-color: #fe5f55;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
}

#clearScore {
    background-color: #fe5f55;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}

#submit {
    background-color: #fe5f55;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid #eef5db;
}

li {
    list-style-type: none;
    background-color: #fe5f55;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}

li:hover {
    cursor: grab;
    background-color: #c7efcf;
}

@media screen and (max-width: 786px) {
    body {
        max-width: 786px;
    }

    #main {
        width: 300px;
        height: 300px;
    }

    a {
        margin-left: 20%;
    }

    #back {
        width: 25%;
    }

    #clear {
        position: relative;
        right: 5%;
    }
}

@media screen and (max-width: 480px) {
    body {
        max-width: 480px;
    }

    #main {
        width: 200px;
        height: 200px;
    }

    a {
        margin-left: 20%;
    }

    #back {
        width: 25%;
    }

    #clear {
        position: relative;
        right: 5%;
    }
}